PORT=3000
DATABASE_URL="postgresql://user:password@host:port/db?sslmode=require"
GOOGLE_OAUTH_CLIENT_ID="your_google_client_id"
GOOGLE_OAUTH_CLIENT_SECRET="your_google_client_secret"

LICHESS_OAUTH_CLIENT_ID="your_lichess_client_id"
LICHESS_OAUTH_CLIENT_SECRET="your_lichess_client_secret"
ADMIN_PASSWORD="super_secret_admin_password"

